
<ion-header translucent>
  <ion-row>
    <ion-toolbar>
      <ion-title mode=ios>
        <h1>Ea<span>s</span>y</h1>
      </ion-title>
      <ion-buttons slot="start">
        <ion-icon class="icon-toolbar" name="arrow-back-outline" (click)="navigateToSubject()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-row>
</ion-header>

<ion-content fullscreen>
  <ion-card class="content">
    <ion-card-header class="todays-tasks-header">
      <ion-card-title>
        <ion-row >

         <ion-text class="content">Cadastro de Atividades</ion-text>
          </ion-row>
      </ion-card-title>
    </ion-card-header>
  </ion-card>


  <div class="content">
    <div class="ion-text-center">
      <ion-row>
        <ion-col col-8>
          <ion-item lines="none">
            <ion-icon name="reader-outline" slot="start"></ion-icon>
            <ion-input type="text" placeholder="Subject "></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
            <ion-input type="text" placeholder="Type the task"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-icon name="time-outline" slot="start"></ion-icon>
            <ion-input type="text" placeholder="Schedule"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    <div class="content2">
      <ion-row >
        <ion-col>
          <ion-button small > REGISTER </ion-button>
        </ion-col>
      </ion-row>
    </div>
    </div>


  </div>
</ion-content>

