<ion-header translucent>
  <ion-row>
    <ion-toolbar>
      <ion-title mode=ios>
        <h1>Ea<span>s</span>y</h1>
      </ion-title>
      <ion-buttons slot="start">
        <ion-icon class="icon-toolbar" name="arrow-back-outline" (click)="navigateToSubject()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-row>
</ion-header>

<ion-content fullscreen>
  <ion-card class="content">
    <ion-card-header class="todays-tasks-header">
      <ion-card-title>
        <ion-row>

          <span style="font-weight: normal !important; font-size: 25px;">Cadastro de atividades</span>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <div class="content">
    <form [formGroup]="formTask">
      <div class="ion-text-center">
        <ion-row>
          <ion-col col-8>
            <ion-item lines="none">
              <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
              <ion-input type="text" placeholder="Nome Atividade" formControlName="nomeAtividade" [(ngModel)]="taskCadastro.nome"></ion-input>

            </ion-item>
            <ion-item lines="none">
              <ion-icon name="calendar-outline" slot="start"></ion-icon>
              <ion-datetime [(ngModel)]="taskCadastro.data" displayFormat="D MMM YYYY H:mm" min="2021" monthShortNames='Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez' placeholder="Selecione a data" formControlName="dataAtividade"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <div class="content2">
          <ion-row>
            <ion-col>
              <ion-button small (click)="salvarTask()" > REGISTRAR </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </form>
  </div>
</ion-content>