<ion-header translucent>
  <ion-row>
    <ion-toolbar>
      <ion-title mode=ios>
        <h1>Ea<span>s</span>y</h1>
      </ion-title>
      <ion-buttons slot="start">
        <ion-icon class="icon-toolbar"  name="arrow-back-outline" (click)="navigateToMainSubjects()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-row>
</ion-header> 

<ion-content fullscreen>
  <ion-card class="todays-tasks">
    <ion-card-header class="todays-tasks-header">
      <ion-card-title>
        <ion-row>
          <ion-col col-12>
            <ion-item lines="none" style="--background: none">
              <ion-card-title>
                <span style="font-weight: normal !important; font-size: 25px"
                  >ESTATÍSTICA APLICADA AO DATA SCIENCE</span
                >
              </ion-card-title>

              <ion-buttons slot="end">
                <ion-icon
                  class="icon-toolbar"
                  name="pencil-outline"
                  style="color: black; margin-right: -20px"
                  name="pencil-outline"
                ></ion-icon>
              </ion-buttons>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="todays-tasks-content">
      <ion-row>
        <ion-col col-12>
          <ion-item lines="none" style="--background: #ffffff">
            <ion-card-title class="item-card-title">
              <span style="font-weight: normal !important"> ATIVIDADE 1 </span>
              <br />
              <span style="font-weight: normal !important"> 19:00 - N2 </span>
            </ion-card-title>
            <ion-buttons slot="end">
              <ion-icon
                class="icon-toolbar"
                name="checkmark-outline"
                style="color: black; margin-right: 5px"
                name="checkmark-outline"
              ></ion-icon>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <ion-item lines="none" style="--background: #ffffff">
            <ion-card-title class="item-card-title">
              <span style="font-weight: normal !important"> ATIVIDADE 1 </span>
              <br />
              <span style="font-weight: normal !important"> 19:00 - N2 </span>
            </ion-card-title>
            <ion-buttons slot="end">
              <ion-icon
                class="icon-toolbar"
                name="checkmark-outline"
                style="color: black; margin-right: 5px"
                name="checkmark-outline"
              ></ion-icon>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <ion-item lines="none" style="--background: #ffffff">
            <ion-card-title class="item-card-title">
              <span style="font-weight: normal !important"> ATIVIDADE 1 </span>
              <br />
              <span style="font-weight: normal !important"> 19:00 - N2 </span>
            </ion-card-title>
            <ion-buttons slot="end">
              <ion-icon
                class="icon-toolbar"
                name="close-outline"
                style="color: black; margin-right: 5px"
              ></ion-icon>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <ion-item lines="none" style="--background: #ffffff">
            <ion-card-title class="item-card-title">
              <span style="font-weight: normal !important"> ATIVIDADE 1 </span>
              <br />
              <span style="font-weight: normal !important"> 19:00 - N2 </span>
            </ion-card-title>
            <ion-buttons slot="end">
              <ion-icon
                class="icon-toolbar"
                name="close-outline"
                style="color: black; margin-right: 5px"
              ></ion-icon>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
