<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>EASY</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" style="color: #FFFFFF"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" (click)="navigateToMainSubjects()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="todays-tasks">
    <ion-card-header class="todays-tasks-header">
      <ion-card-title>
        <ion-row>
          <ion-row>
            <ion-icon name="list-outline"></ion-icon>
            Database
          </ion-row>
          <ion-icon name="create-outline"></ion-icon>
        </ion-row>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="todays-tasks-content">
      <ion-card class="item-card">
        <ion-card-title class="item-card-title">Project Management</ion-card-title>
        <ion-card-content class="item-card-content">
          <ion-row>
            19:00
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="item-card">
        <ion-card-title class="item-card-title">Project Management</ion-card-title>
        <ion-card-content class="item-card-content">
          <ion-row>
            19:00
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="item-card">
        <ion-card-title class="item-card-title">Project Management</ion-card-title>
        <ion-card-content class="item-card-content">
          <ion-row>
            19:00
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card class="item-card">
        <ion-card-title class="item-card-title">Project Management</ion-card-title>
        <ion-card-content class="item-card-content">
          <ion-row>
            19:00
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>