<ion-header translucent>
  <ion-row>
    <ion-toolbar>
      <ion-title mode=ios>
        <h1>Ea<span>s</span>y</h1>
      </ion-title>
      <ion-buttons slot="start">
        <ion-icon class="icon-toolbar" name="arrow-back-outline" (click)="navigateToHome()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-row>
</ion-header>

<ion-content fullscreen>
  <ion-card class="todays-tasks">
    <ion-card-header class="todays-tasks-header">
      <ion-card-title>
        <ion-row>
          <ion-row>
            <ion-icon name="calendar-number-outline" style="margin-top: calc(0.3vh)"></ion-icon>
            <span style="margin-left: calc(0.7vh); font-weight: normal !important; font-size: 25px;">Calendário</span>
          </ion-row>
          <ion-icon name="create-outline" style="color: #ffffff;"></ion-icon>
        </ion-row>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="todays-tasks-content">
      <ion-card class="item-card" (click)="navigateToHome()">
        <ion-card-title class="item-card-title">

        </ion-card-title>
        <ion-card-content class="item-card-content"> </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>