* {
  font-family: "Montserrat", sans-serif;
}

ion-content {
  --background: url("/assets/image/before_login.png") no-repeat center center /
    cover !important;
  --overflow: hidden;
  --scroll-y: "false";
}

ion-button {
  --background: #38c5c5;
  --border-radius: 5px;
  --background-activated: #27b4b4;
  --background-focused: #16a3a3;
  --color-activated: #ffffff;
  --color-focused: #ffffff;
  margin-top: -5%;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}

ion-item {
  --background: #999999;
  margin-bottom: 10px;
  border-radius: 5px;
}

span {
  color: #38c5c5;
  font-weight: bold;
}

.body {
  margin: 80px 80px 80px 80px;
}

.input-group {
  padding: 20px 20px 20px 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 35px;
}

.div-logo {
  position: fixed;
  margin-bottom: calc(50vh);
}