* {
    font-family: 'Montserrat', sans-serif;
}

ion-content {
    --background: url('../../../assets/image/before_login_img.png') no-repeat center center / cover !important;
}

ion-button {
    --background: #38C5C5;
}

ion-item {
    --background: #999999;
    border-radius: 5px;
}

.body {
    margin: 80px 80px 80px 80px;
}

.input-group {
    padding: 20px 20px 20px 20px;
}