<ion-header>
</ion-header>

<ion-content padding>
  <div align="center">
    <h1>EASY</h1>
  </div>
  <div class="ion-text-center">
    <form>
      <div class="input-group">
        <ion-item style="margin:10px">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>
      </div>

      <div align="center" class="button-group">
        <ion-button type="button">
          GO BACK
        </ion-button>
        <ion-button type="button">
          REGISTER
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>