<ion-content fullscreen>
  <div class="content">
    <div class="ion-text-center">
      <h1>Ea<span>s</span>y</h1>

      <form>
        <ion-item lines="none">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-input type="name" placeholder="Username"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>

        <ion-button type="button" (click)="navigateToHome()">
          Login
        </ion-button>
      </form>

      <div>
        <p (click)="navigateToForgotPassword()">Forgot your password? <span>Recover here</span></p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="footer">
  <div class="ion-text-center">
    <p (click)="navigateToRegister()">Don't have an account? <span>Signup here</span></p>
  </div>
</ion-footer>