<ion-content fullscreen>
  <div class="content">
    <div class="ion-text-center div-logo">
      <h1>Ea<span>s</span>y</h1>
    </div>

    <div class="ion-text-center">
      <ion-row>
        <ion-col col-12>
          <ion-item lines="none">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input type="name" placeholder="nome usuário"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input type="EMAIL" placeholder="email"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input type="password" placeholder="senha"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input type="password" placeholder="confirme a senha"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-button type="button" (click)="navigateToLogin()">
            VOLTAR
          </ion-button>
        </ion-col>
        <ion-col col-6>
          <ion-button type="button"> REGISTRAR </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
