ion-content {
  --background: url("/assets/image/home.png") no-repeat center center /
    cover !important;
  // --overflow: hidden;
  // --scroll-y: "false";
  
}

ion-toolbar {
  --background: #38C5C5;
}

ion-card {
  --background: #38C5C5;
}

ion-card-title {
  --color: #000000;
}

ion-button {
  --background: #38c5c5;
  --border-radius: 5px;
  --background-activated: #27b4b4;
  --background-focused: #16a3a3;
  --color-activated: #ffffff;
  --color-focused: #ffffff;
  font-size: 20px;
  width: 90%;
  color: #000000;
}

ion-item {
  --background: #999999;
  margin-bottom: 10px;
  border-radius: 5px;
  --background-hover: none;
  --background-activated: none;
  --ripple-color: transparent;
}

ion-row {
  justify-content: space-between;
}

ion-checkbox {
  --background: #FFFFFF;
  --border-color: #000000;
  --background-checked: #000000;
  --border-color-checked: #000000;
}

ion-icon {
  font-size: calc(4vh) !important;
}

ion-checkbox {
  position: relative;
}

.todays-tasks {
  padding: 0px;
  margin: 20px;
}

.todays-tasks-header {
  padding: 10px 10px 0px 10px;
}

.todays-tasks-content {
  padding: 0px 10px 10px 10px;
  margin: 0px;
  overflow: scroll;
  height: 400px;
}

.item-card {
  background-color: #ffffff;
  padding: 5px 15px 5px 10px;
  margin: 10px 0px 0px 0px;
}

.item-card-title, .item-card-content {
  font-size: 20px;
  font-weight: 100;
  color: #000000;
  padding: 0px;
}

span {
  color: #000000;
  font-weight: bold;
}

h1 {
  font-size: 25px;
  margin-bottom: calc(3vh);
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}


.card-principal {
  margin-left: calc(1vh);
  margin-right: calc(1vh);
}

.card-lista {
  margin-bottom: calc(2vh);
}

.icon-toolbar{
  font-size: calc(4vh);
}

.activity {
  font-size: 20px;
}

.icon-center {
  margin-top: calc(3.3vh);
}