<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      <h1>EA<span>S</span>Y</h1>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="icon-toolbar" name="log-out-outline" (click)="navigateToLogin()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="todays-tasks">
    <ion-card-header class="todays-tasks-header">
      <ion-item lines="none" style="--background: none">
        <ion-card-title>
          <span style="font-weight: normal !important; font-size: 25px;">Matérias de hoje</span>
        </ion-card-title>

        <ion-buttons slot="start">
          <ion-icon class="icon-toolbar" style="color: black; margin-left: -15px; margin-right: -15px;" name="today-outline">
          </ion-icon>
        </ion-buttons>
      </ion-item>
    </ion-card-header>

    <ion-card-content class="todays-tasks-content">
      <ion-card *ngFor="let task of todaysTasksList" class="item-card">
        <ion-card-content class="item-card-content">
          <ion-row>
            <ion-col>
              <p class="activity">{{task.nome}}</p>
              <p class="activity">{{task.nome}}</p>
              <p class="activity">{{task.data_atividade}}</p>
            </ion-col>
            <ion-checkbox mode="md" class="icon-center"></ion-checkbox>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-button type="button" (click)="navigateToMainSubjects()" style="margin-left: 15px;">
          <ion-icon name="list-outline"></ion-icon>
          <p style="margin-left: 8px;">Matérias</p>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>