<ion-header translucent>
  <ion-row>
    <ion-toolbar>
      <ion-title mode=ios>
        <h1>Ea<span>s</span>y</h1>
      </ion-title>
      <ion-buttons slot="start">
        <ion-icon class="icon-toolbar" name="arrow-back-outline" (click)="navigateToHome()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-row>
</ion-header>

<ion-content fullscreen>
  <ion-card class="todays-tasks">
    <ion-card-header class="todays-tasks-header">
      <ion-card-title>
        <ion-row>
          <ion-row>
            <ion-icon name="list-outline" style="margin-top: -2px"></ion-icon>
            <span style="
                margin-left: calc(0.7vh);
                font-weight: normal !important;
                font-size: 25px;">Matérias</span>
          </ion-row>
          <ion-icon name="refresh" (click)="relistarSubjects()" style="color: #ffffff;"></ion-icon>
          <ion-icon name="add-outline"  (click)="navigateToRegisterSubject()" style="color: #ffffff;"></ion-icon>
        </ion-row>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content *ngFor="let subject of subjects" class="todays-tasks-content">
      <ion-card class="item-card">
        <ion-card-content class="item-card-content">
          <ion-row>
            <ion-card-title class="item-card-title">{{subject.nome}}</ion-card-title>
            <ion-row>
              <ion-icon name="create-outline" (click)="navigateToSelectedSubject(subject)"></ion-icon>
              <!-- <ion-icon name="trash-outline"></ion-icon> -->
            </ion-row>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
